@import url(https://fonts.googleapis.com/css?family=Righteous:regular);

@import url(https://fonts.googleapis.com/css?family=La+Belle+Aurore:regular&display=swap);

/* reset default browser parameter */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: #1d1d1d;
  line-height: 1;
  font-size: 1.6rem;
  display: block;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding-left: 13rem;
  overflow-x: scroll;
  overflow-x: hidden;
}

/* -------------- header --------------- */

.menu-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 13rem;
  height: 100vh;
  position: fixed;
  right: auto;
  z-index: 3;
  margin: 1rem 1rem;
  padding: 1.5rem 1.5rem;
  background-color: hsl(0, 0%, 0%);
  left: 0;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
}

/* -------------- logo --------------- */

.logo {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.logo-image {
  width: 13rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 47%;
}

/* -------------- menu --------------- */

.page-link {
  padding: 0.5rem 3rem;
  margin: 0.5rem;
  border-radius: 5%;
  border: 0.05rem solid blue;
  background-color: hwb(0 18% 82%);
}

.link {
  color: #f0f8ff;
  font-size: 0.75rem;
}

/* -------------- social --------------- */

.social-menu {
  display: flex;
}

.social-link {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background-color: rgb(240, 248, 255);
  border-radius: 50%;
}

/* -------------- description --------------- */

.description {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  padding: 9rem 3rem;
  transition: opacity 0.4s;
  z-index: 1;
  background-color: black;
  opacity: 1;
}

h1 {
  color: #fff;
  font-family: Righteous, sans-serif;
  line-height: 4.7rem;
  font-size: 4rem;
  font-weight: 400;
  padding: 0.5rem 0.5rem;
  margin-top: 7rem;
}

h1::before {
  content: "<h1>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-top: -5rem;
  left: 2rem;
}

h1::after {
  content: "<h1/>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-top: 3.8rem;
  left: 2rem;
}

/* -------------- animation --------------- */

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.76, 1.25, 1);
  }

  50% {
    transform: scale3d(1.25, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
