/* ----- skills page ----- */
.description-skills {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100vh;
  right: auto;
  z-index: 4;
  margin: 1rem 1rem;
  padding: 1.5rem 1.5rem;
  text-align: left;
}

.list-page-link:hover {
  border-radius: 30px;
  background-color: rgba(63, 32, 142, 0.264);
  padding: 0.8rem 0;
  margin: 0.9rem;
  width: 10rem;
  height: 3.5rem;
  box-shadow: inset 2px 2px red;
}
