@import url(https://fonts.googleapis.com/css?family=Poppins:500,500italic&display=swap);

.social {
  display: grid;
  font-family: Poppins, sans-serif;
  place-items: center;
}

.social-wrapper {
  display: inline-flex;
  list-style: none;
}

.social-wrapper .icon {
  position: relative;
  display: flex;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 0.2rem;
  margin: 0.2rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-social {
  color: #fff;
}

.social-wrapper .facebook:hover {
  background: #1877f2;
  color: #fff;
}

.social-wrapper .twitter:hover {
  background: #1da1f2;
  color: #fff;
}

.social-wrapper .linkedin:hover {
  background: #297eb3;
  color: #fff;
}

.social-wrapper .github:hover {
  background: #333;
  color: #fff;
}
